<div class="container-fluid mt-4">
    <button type="button" class="btn btn-primary btn-sm shadow-none" data-bs-toggle="modal"
        data-bs-target="#addNewStaffModal">
        <i class="fas fa-add"></i>
        Make Donation
    </button>
    <table class="table table-bordered table-hover bg-white text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col">Donation Type</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let donation of donations | paginate: {
                itemsPerPage: tableSize,
                currentPage: pageNumber,
                totalItems: count}; let i = index;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ donation.amount | number }}</td>
                <td>{{ truncateDescription(donation.description, 4) }}</td>
                <td>{{ donation.donationType }}</td>
                <td>{{ donation.donatedDate | date: 'short'}}</td>

                <td>
                    <button (click)="findDonation(donation.donationId)"
                        class="btn btn-outline-success shadow-none btn-sm me-2">View</button>
                    <!-- <button (click)="deleteDonation(donation.donationId)"
                        class="btn btn-danger shadow-none btn-sm">Delete</button> -->
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation" style="cursor: pointer;">
        <ul class="pagination justify-content-end">
            <li class="  bg-white">
                <a class="">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"
                        class="" style="cursor: pointer;">
                    </pagination-controls>
                </a>
            </li>

        </ul>
    </nav>
</div>