<div class="container-fluid d-flex justify-content-center min-vh-100 align-items-center">
    <div class="container">
        <form #registerDonorForm="ngForm" (ngSubmit)="registerNewDonor(registerDonorForm.value)">
            <div class="title text-uppercase text-center mb-4">
                <h4 class="fw-bold">donor registration form</h4>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 mb-4 form-group">
                    <label for="">First Name</label>
                    <input type="text" name="firstName" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-4 mb-4 form-group">
                    <label for="">Second Name</label>
                    <input type="text" name="secondName" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-4 mb-4 form-group">
                    <label for="">Last Name</label>
                    <input type="text" name="lastName" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-6 mb-4 form-group">
                    <label for="">Username</label>
                    <input type="text" name="username" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-6 mb-4 form-group">
                    <label for="">Password</label>
                    <input type="password" name="password" ngModel class="form-control input-box"
                        #passwordInput="ngModel" minlength="8" maxlength="12" required>
                    <span
                        *ngIf="(passwordInput.touched || registerDonorForm.submitted) && passwordInput.errors?.['required']"
                        style="color: red;">
                        Password must be 8 characters
                    </span>
                </div>
                <div class="col-md-4 mb-4 form-group">
                    <label for="">E-Mail</label>
                    <input type="text" name="email" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-4 mb-4 form-group">
                    <label for="">Phone No</label>
                    <input type="text" name="phoneNumber" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-4 mb-4 form-group">
                    <label for="">Address</label>
                    <input type="text" name="address" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-4 mb-4 form-group">
                    <label for="">DOB</label>
                    <input type="date" name="dateOfBirth" ngModel class="form-control input-box" required>
                </div>
                <div class="col-md-4 mb-4 form-group">
                    <label class="me-5 ps-2 mt-1 mb-1">Gender: </label><br>
                    <div class="form-check form-check-inline me-5">
                        <input class="form-check-input" type="radio" ngModel name="gender" id="inlineRadio1"
                            value="Male" checked>
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" ngModel name="gender" id="inlineRadio2"
                            value="Female">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                    </div>
                </div>
                <div class="row mb-2 mt-4">
                    <div class="col-md-6">
                        <button [disabled]="registerDonorForm.invalid" type="submit"
                            class="btn btn-primary btn-block col-md-12 shadow-none">Register</button>
                    </div>
                    <div class="col-md-6">
                        <button routerLink="/login"
                            class="btn btn-success btn-block col-md-12 shadow-none">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>